# IntelliJ
.idea
*.iml

# Package Files
*.jar
/out/

# Gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Builded Angular
src/main/resources/static/index.html
src/main/resources/static/*.js
src/main/resources/static/favicon.ico